/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
    /* Colors */

    --rouge: #FF3A3A;
    --rouge-hover: hsla(0, 100%, 61%, 0.75);
    --blanc-casse: #EDEDED;
    --gris: #929292;

    width: 100%;
}

@font-face {
    font-family: 'Readex';
    src: url(../assets/fonts/ReadexPro-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;

    /* Fonts */
    font-family: 'Readex', sans-serif;
}

html,
body,
#root {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* Modificactions Globales */

a {
    text-decoration: none;
    color: unset;
}

article {
    padding: 5rem 10rem;
    position: relative;
    background-color: var(--blanc-casse);
}

.repaire {
    display: flex;
    align-items: center;
    color: var(--rouge);
}

.repaire a {
    text-decoration: underline;
    text-transform: capitalize;
}

.repaire a:last-child {
    font-weight: 600;
}

.art_evenements {
    background-color: #fff;
}

.liste_evenements {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    max-width: 50rem;
}

.event:first-child {
    border-radius: 25px 25px 0 0;
}

.event:last-child {
    border-radius: 0 0 25px 25px;
}

.event:nth-child(1n) {
    background-color: #C1C1C1;
}

.event:nth-child(1n) .date_event {
    background-color: var(--rouge);
}

.event:nth-child(2n) {
    background-color: #DCDCDC;
}

.event:nth-child(2n) .date_event {
    background-color: var(--rouge-hover);
}

.event {
    display: flex;
    align-items: center;
    gap: 3rem;
    overflow: hidden;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
}

.event:hover {
    transform: scale(1.005);
    box-shadow: 5px 5px 5px #555;
}

.event:active {
    transform: scale(1.01);
}

.date_event {
    display: grid;
    place-items: center;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 3px;
    color: #fff;
    padding: 1.5rem;
    text-transform: uppercase;
    aspect-ratio: 1/1;
    height: 7rem;

}

.titre_event {
    font-size: 1.2em;
    font-weight: 600;
}

.titre_section {
    margin: 5rem;
}

.titre_section p {
    color: var(--rouge);
    font-size: 2em;
}

nav {
    width: 100%;
    height: 10vh;
}

footer {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    article {
        padding: 2rem;
    }

    header .homepage_actu {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    .navbar {
        display: none;
    }

    .navbar_mobile {
        display: flex;
    }

    header h1 {
        text-align: center;
    }

    article {
        width: 100%;
    }

    .titre_section {
        margin: 2rem;
    }

    .see_more {
        margin-inline: auto 2rem;
    }

    header .homepage_actu {
        display: none;
    }

    #footer {
        display: none;
    }

    #footer_mobile {
        display: flex;
    }

    hr {
        display: none;
    }

    .liste_images .image_card {
        display: none;
    }

    .liste_images .image_card:first-child {
        display: block;
    }

    .actu_card {
        display: none;
    }

    .actu_card:first-child {
        display: -webkit-box;
    }

    .event {
        gap: 1rem;
    }

    header {
        height: 30vh;
    }

    /* Actus */

    .actu_header {
        padding-left: unset;
        padding: 3rem;
        justify-content: center;
    }

    .first_actus {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .first_actus .second_actus,
    .actu_first.actu {
        width: 100%;
    }

    .autres_actus {
        grid-template-columns: repeat(1, 1fr);
    }

    .actu {
        height: fit-content;
        padding: 1rem;
    }
}