 @keyframes appear-from-top {
     from {
         transform: translateY(-10vh);
         opacity: 0;
     }

     to {
         transform: translateY(0);
         opacity: 1;
     }
 }

 .navbar,
 header h1,
 .homepage_actu {
     animation: appear-from-top 1s ease-in-out forwards;
 }

 header h1,
 .homepage_actu {
    animation-delay: 1s;
    opacity: 0;
 }

 @keyframes appear-from-left {
     from {
         transform: translateX(-30vw);
         opacity: 0;
     }

     to {
         transform: translateX(0);
         opacity: 1;
     }
 }

 header,
 .art_evenements {
     animation: appear-from-left 1s ease-in-out forwards;
 }

 @keyframes appear-from-right {
     from {
         transform: translateX(30vw);
         opacity: 0;
     }

     to {
         transform: translateX(0);
         opacity: 1;
     }
 }

 .art_actualites,
 .art_galerie,
 .actualites,
 .evenements,
 .galerie {
     opacity: 0;
     animation: appear-from-right 1s ease-in-out forwards;
 }

 .art_actualites,
 .actualites,
 .evenements,
 .galerie {
     animation-delay: 2s;
 }